<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   <link rel="stylesheet" href="./style.css">
   <title>Player vs Monster</title>
</head>

<body>
   <header> 
         <h1>Player vs Monster</h1>
   </header>

   <div id="app" class="flex-column">
      <div class="scores">
         <div class="score flex-column">
            <h2>Player</h2>
            <img src="./img/popto4.png" alt="to" id="to" v-bind:style="{height: this.playerLife + 'px'}">
            <div class="flex-column-size">{{playerLife}}HP</div>
         </div>

         <div class="score flex-column">
            <h2>Monster</h2>
            <img src="./img/monster.png" alt="Monster" id="monster" v-bind:style="{height: this.monsterLife + 'px'}">
            <div class="flex-column-size">{{monsterLife}}HP</div>
         </div>
      </div>

      <div class="result" v-if="hasResult">
         <div v-if="monsterLife == 0">Player WIN</div>

         <div v-else> Monster WIN</div>
      </div>

      <div class="buttons flex-row">
         <template v-if="hp">
            <button class="btn red" @click="attack(false)">Attack</button>
            <button class="btn yellow" @click="attackspecial(false)">Special Attack</button>
         </template>

         <button v-else @click="startGame" class="btn green">STARTGAME</button>
      </div>

   </div>
   

 <!--Import Script-->
   <script src="./app.js"></script>
</body>

</html>
