body{
   margin: 0;
   padding: 0;
   background: rgb(0, 0, 0);
   color: var(--black);
   font-family: 'Open Sans', sans-serif;
}

.panel{
   background: rgb(49, 146, 49);
   color: rgb(0, 0, 0);
   padding: 3vw;
   box-shadow: 0 1% 2vw black;
   background-size: cover;

}

.flex-row{
   display: flex;
   flex-direction: row;
}

.flex-column{
   display: flex;
   flex-direction: column;
}
.flex-column-size{
   color: white;
   font-size: 100px;
   font-family: Nunito, sans-serif;
   -webkit-text-stroke: 2px black;
}

/*Header*/
header{
   margin: 0;
   background-image: url(img/map.png);
   height: 100%;
  background-size: cover;
}

#Player{
   align-items: center;
   justify-content: space-between;
}

#Player h1{
   font-size: 3vw;
   color: var(--yellow);
}

#Player img{
   height: 100px;
}

#monster{
margin-right: 5vw;
}

#to{
   margin-left: 5vw;
}

/*Panel score style*/
.scores{
   padding: 0 3vw 3vw 3vw;
   display: flex;
}

.score{
   flex:1;
   justify-content: center;
   align-items: center;
}

.score h2{
   font-weight: 400;
}


/*Panel result*/
.result{
   display: flex;
   justify-content: center;
   font-weight: 800;
   font-size: x-large;
}

/*Buttons*/
.greenlime{
   background: rgb(134, 199, 38);
}

.red{
   background: rgb(255, 0, 0);
}

.yellow{
   background: rgb(255, 145, 0);
}

.green{
   background: green;
}

.black{
   background: black;
}

.buttons{
   display: flex;
   justify-content: center;
}

.btn{
   color: white;
   margin: 0 1.5vw;
   padding: 1vw 3vw;
   border: none;
   border-radius: 10vw;
   text-transform: uppercase;
   font-weight: 600;
}

.btn:hover{
   cursor: pointer;
   animation: pulse 3s;
   box-shadow: 0 0 2vw 1vw white;
   color: var(--lightGray);
}

